header {
  .container-fluid {
    max-width: 90%;
    .dropdown-toggle:after {
      content: '';
      display: block;
      border-top: 0px;
      border-right: 2px solid $dark;
      border-bottom: 2px solid $dark;
      border-left: 0px;
      transform: rotate(45deg);
      height: 12px;
      width: 12px;
      position: absolute;
      cursor: pointer;
      right: -23px;
      top: 10px;
      margin-left: 0px;
      vertical-align: middle;
    }
  }
  .navbar {
    li {
      font-family: $altivo;
      font-weight: 300;
    }
  }
  .contact-info {
    img {
      max-width: 32px;
    }
  }
}

// Mobile Screen
header {
  .nav-item {
    font-size: 14px;
  }
  .offcanvas.show {
    .navbar-brand {
      img {
        max-width: 100%;
      }
    }
  }
  .navbar-brand {
    img {
      max-width: 60%;
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    .dropdown-menu {
      li {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      :first-child {
        margin-bottom: 10px;
      }
    }
    .nav-item {
      a {
        padding: 0 !important;
      }
    }
    .navbar-brand {
      img {
        max-width: 100%;
      }
    }
    .contact-info {
      img {
        max-width: 40px;
      }
    }
  }
}

// Large Devices
@include media-breakpoint-up(lg) {
  header {
    .nav-item {
      font-size: 28px;
    }
  }
}
