header {
  .container-fluid {
    max-width: 90%;
    .dropdown-toggle:after {
      content: '';
      display: block;
      border-top: 0px;
      border-right: 1px solid $dark !important;
      border-bottom: 1px solid $dark !important;
      border-left: 0px;
      transform: rotate(45deg);
      height: 8px;
      width: 8px;
      position: absolute;
      cursor: pointer;
      right: 0%;
      top: 15%;
      margin-left: 0px;
    }
    .dropdown-menu {
      li {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      :first-child {
        margin-bottom: 10px;
      }
    }

    .navbar-brand-mobile {
      img {
        max-width: 50%;
      }
    }
    .contact-info {
      .btn {
        font-size: 14px;
      }
    }
  }

  .top-bar {
    background-color: $secondary;
    p {
      font-size: 6px;
      letter-spacing: 0.36px;
      a {
        color: inherit;
        margin-left: 5px;
        text-decoration: none;
      }
    }
  }
  .navbar {
    li,
    a {
      font-family: $altivo;
      font-weight: 300;
      color: $dark;
      text-transform: uppercase;
    }
  }

  .contact-info {
    img {
      max-width: 32px;
    }
  }
}

header {
  .nav-item {
    font-size: 14px;
  }
  .offcanvas.show {
    .navbar-brand {
      img {
        max-width: 100%;
      }
    }
  }
  .navbar-brand {
    img {
      max-width: 60%;
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    .top-bar {
      background-color: $secondary;
      p {
        font-size: 14px;
        letter-spacing: 0.84px;
      }
    }
    .dropdown-toggle:after {
      border-right: 2px solid #201818 !important;
      border-bottom: 2px solid #201818 !important;
      height: 8px !important;
      width: 8px !important;
      right: -11% !important;
      top: 20% !important;
    }
    .nav-item {
      a {
        padding: 0 !important;
      }
    }
    .navbar-brand-desktop {
      img {
        max-width: 100%;
      }
    }
    .contact-info {
      img {
        max-width: 32px;
      }
      .btn {
        font-size: 16px;
      }
    }
  }
}

// Large Devices
@include media-breakpoint-up(lg) {
  header {
    .container-fluid {
      max-width: 95%;
    }
    .nav-item {
      font-size: 16px;
    }
    .dropdown-toggle:after {
      border-right: 2px solid #201818 !important;
      border-bottom: 2px solid #201818 !important;
      height: 8px !important;
      width: 8px !important;
      right: -10% !important;
      top: 26% !important;
    }
    .contact-info {
      img {
        max-width: 40px;
      }
    }
  }
}

// Large Devices
@include media-breakpoint-up(xl) {
  header {
    .nav-item {
      font-size: 18px;
    }
    .dropdown-toggle:after {
      height: 12px !important;
      width: 12px !important;
      right: -12% !important;
      top: 20% !important;
    }
  }
}

// Large Devices
@include media-breakpoint-up(xxl) {
  header {
    .nav-item {
      font-size: 24px;
    }
    .dropdown-toggle:after {
      height: 12px !important;
      width: 12px !important;
      right: -10% !important;
      top: 24% !important;
    }
  }
}
