h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $orpheuspro;
  font-weight: 400;
}

h1 {
  font-size: 80px;
  line-height: 1.27em;
}

h2 {
  font-size: 80px;
  line-height: 1.27em;
}

h3 {
  font-size: 28px;
  line-height: 1.2em;
}

h4 {
  font-size: 24px;
  line-height: 1.2em;
}

p {
  font-family: $brandon;
  font-size: 18px;
}

.large {
  font-size: 24px;
  line-height: 2em;
}

.small {
  font-size: 18px;
  line-height: 1.77em;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 32px;
  }
}

//Large Device Typography

@include media-breakpoint-up(lg) {
  h1,
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}
