// Add here about page css

// About Header
// Mobile Device

.about-us {
  background: linear-gradient(
      180deg,
      rgba($secondary, 0.64),
      rgba($secondary, 0.64)
    ),
    url('../img/about-us-header-mobile.jpg');
  background-color: #706b6b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    height: 490px;
    align-items: flex-end;
  }
}
