// Add here home page css

// #home-header {
//   padding: 14% 0;
//   background-image: url(/assets/img/home-header.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

//Home Header Start

//Mobile Device

#home-header {
  background: url('/assets/img/home-header.jpg');
  // background: linear-gradient(
  //     180deg,
  //     rgba($secondary, 0.64),
  //     rgba($secondary, 0.64)
  //   ),
  //   url('/assets/img/home-header.jpg');
  // background: linear-gradient(
  //     180deg,
  //     $light-grey-gradient 50%,
  //     $light-grey-gradient 50%
  //   ),
  //   url('/assets/img/home-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $secondary;
  height: 708px;
  .content-wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
  img {
    max-width: 130px;
    padding-bottom: 32px;
  }

  .btn-wrapper {
    flex-direction: column;
    gap: 16px;
    padding: 30px 0 35px;

    .btn {
      border-radius: 40px;
      font-size: 16px;
      padding: 13px 20px;
      text-transform: uppercase;
    }

    .btn-primary {
      color: $light;
      border: 2px solid $primary;
      &:hover {
        background: $light;
        color: $dark;
        border: 2px solid $light;
      }
    }

    .btn-light {
      color: $dark;
      border: 2px solid $light;
      &:hover {
        background: $primary;
        color: $light;
        border: 2px solid $primary;
      }
    }

    .btn-dark {
      background: $secondary;
      border: 2px solid $primary;
      &:hover {
        background: $light;
        color: $dark;
        border: 2px solid $light;
      }
    }
  }
}

//Small Device Home Header

@include media-breakpoint-up(sm) {
  #home-header {
    height: 890px;
    .content-wrapper {
      max-width: 74%;
    }
    img {
      max-width: 225px;
      padding-bottom: 24px;
    }

    .btn-wrapper {
      padding: 24px 0 48px;
      .btn {
        font-size: 18px;
        padding: 17px 20px;
      }
      .btn-dark {
        font-size: 14px;
        padding: 19px 20px;
      }
    }
  }
}

//Medium Device

@include media-breakpoint-up(md) {
  #home-header {
    height: 800px;
    .content-wrapper {
      max-width: 54%;
    }
    img {
      max-width: 140px;
      padding-bottom: 24px;
    }

    .btn-dark {
      position: absolute;
      left: 50%;
      bottom: -8.5%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, 0%);
      z-index: 2;
    }
  }
}

//Large Device

@include media-breakpoint-up(lg) {
  #home-header {
    height: 902px;
    .content-wrapper {
      max-width: 624px;
      .content {
        p {
          line-height: 1.33em;
          max-width: 530px;
        }
      }
    }

    .btn-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
      padding: 16px 0 80px;
      justify-content: center;
      .col:nth-child(odd) {
        padding-top: 40px;
        padding-right: 20px;
      }

      .col:nth-child(even) {
        padding-top: 40px;
        padding-left: 20px;
      }
    }

    img {
      max-width: 244px;
      padding-bottom: 44px;
    }
  }
}

//Home Header End

//Celina Logo Banner Start

//Mobile Device

#celina-logo-banner {
  hr {
    height: 56px;
    margin: 0;
    border: 0;
    opacity: 1;
    background-color: $secondary;
  }
  .row {
    justify-content: center;
    padding: 3rem 0 3rem;
    img {
      width: 122px;
    }
  }
}

//Medium Device

@include media-breakpoint-up(md) {
  #celina-logo-banner {
    hr:first-child {
      height: 80px;
    }
  }
}

//Large Device

@include media-breakpoint-up(lg) {
  #celina-logo-banner {
    .row {
      padding: 4rem 0 4rem;
      img {
        width: 9% !important;
      }
    }
  }
}

//Celina Logo Banner End

// Our Services Carousel Mobile Start

#our-services {
  padding: 5rem 0;
  h2 {
    font-size: 18px;
    font-weight: 300;
    color: $primary;
    line-height: 1.33em;
    padding-bottom: 40px;
    text-transform: uppercase;
    max-width: 240px;
    margin: 0 auto;
  }
}
#our-services-carousel {
  .carousel-inner {
    display: flex;
    gap: 10px;
  }
  .carousel-item {
    height: auto;
    img {
      position: relative;
      height: unset;
    }
    .carousel-caption {
      position: relative;
      inset: 0;
      z-index: unset;
      text-align: left;
      padding: 0px;
      .carousel-title {
        background-color: rgba($primary, 0.64);
        padding: 15px 30px;
        color: $light;
        margin-top: -70px;
      }
      .content {
        background: $secondary;
        padding: 30px;
      }
      .content-wrapper {
        max-height: 292px;
        overflow: auto;
        margin-bottom: 20px;
        p {
          margin-right: 10px;
        }
      }

      .btn {
        color: $primary;
        text-transform: uppercase;
      }
    }
  }
  .carousel-indicators {
    bottom: -50px;
    button {
      width: 12px;
      height: 12px;
      background-color: $secondary;
      border-radius: 100%;
    }
  }
}
