// Add here home page css

// #home-header {
//   padding: 14% 0;
//   background-image: url(/assets/img/home-header.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

//Home Header Start

//Mobile Device

#home-header {
  background: linear-gradient(
      180deg,
      rgba($secondary, 0.64),
      rgba($secondary, 0.64)
    ),
    url('../img/home-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $secondary;
  height: 708px;
  .content-wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
  img {
    max-width: 130px;
    padding-bottom: 32px;
  }

  .btn-wrapper {
    flex-direction: column;
    gap: 16px;
    padding: 30px 0 35px;

    .btn {
      border-radius: 40px;
      font-size: 16px;
      padding: 13px 20px;
      text-transform: uppercase;
    }

    .btn-primary {
      color: $light;
      border: 2px solid $primary;
      &:hover {
        background: $light;
        color: $dark;
        border: 2px solid $light;
      }
    }

    .btn-light {
      color: $dark;
      border: 2px solid $light;
      &:hover {
        background: $primary;
        color: $light;
        border: 2px solid $primary;
      }
    }

    .btn-dark {
      background: $secondary;
      border: 2px solid $primary;
      &:hover {
        background: $light;
        color: $dark;
        border: 2px solid $light;
      }
    }
  }
}

//Small Device Home Header

@include media-breakpoint-up(sm) {
  #home-header {
    height: 890px;
    .content-wrapper {
      max-width: 74%;
    }
    img {
      max-width: 225px;
      padding-bottom: 24px;
    }

    .btn-wrapper {
      padding: 24px 0 48px;
      .btn {
        font-size: 18px;
        padding: 17px 20px;
      }
      .btn-dark {
        font-size: 14px;
        padding: 19px 20px;
      }
    }
  }
}

//Medium Device

@include media-breakpoint-up(md) {
  #home-header {
    height: 800px;
    .content-wrapper {
      max-width: 54%;
    }
    img {
      max-width: 140px;
      padding-bottom: 24px;
    }

    .btn-dark {
      position: absolute;
      left: 50%;
      bottom: -8.5%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, 0%);
      z-index: 2;
    }
  }
}

//Large Device

@include media-breakpoint-up(lg) {
  #home-header {
    height: 902px;
    .content-wrapper {
      max-width: 624px;
      .content {
        p {
          line-height: 1.33em;
          max-width: 530px;
        }
      }
    }

    .btn-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
      padding: 16px 0 80px;
      justify-content: center;
      .col:nth-child(odd) {
        padding-top: 40px;
        padding-right: 20px;
      }

      .col:nth-child(even) {
        padding-top: 40px;
        padding-left: 20px;
      }
    }

    img {
      max-width: 244px;
      padding-bottom: 44px;
    }
  }
}

//Home Header End

//Celina Logo Banner Start

//Mobile Device

#celina-logo-banner {
  hr {
    height: 56px;
    margin: 0;
    border: 0;
    opacity: 1;
    background-color: $secondary;
  }
  .row {
    justify-content: center;
    padding: 3rem 0 3rem;
    img {
      width: 122px;
    }
  }
}

//Medium Device

@include media-breakpoint-up(md) {
  #celina-logo-banner {
    hr:first-child {
      height: 80px;
    }
  }
}

//Large Device

@include media-breakpoint-up(lg) {
  #celina-logo-banner {
    .row {
      padding: 4rem 0 4rem;
      img {
        width: 9% !important;
      }
    }
  }
}

//Celina Logo Banner End

// Our Services Carousel Mobile Start

#our-services {
  padding: 5rem 0;
  .title {
    font-size: 18px;
    font-weight: 300;
    color: $primary;
    line-height: 1.33em;
    padding-bottom: 40px;
    text-transform: uppercase;
  }
}
#our-services-carousel {
  .carousel-inner {
    display: flex;
    gap: 10px;
  }
  .carousel-item {
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    img {
      position: relative;
      height: 160px;
      object-fit: cover;
    }
    .carousel-caption {
      position: relative;
      inset: 0;
      z-index: unset;
      text-align: left;
      padding: 0px;
      margin-top: -58px;
      border-top: 16px solid rgba($light, 0.75);
      .carousel-title {
        background-color: rgba($primary, 0.75);
        padding: 10px 30px 6px;
        color: $light;

        text-transform: uppercase;
      }
      .content {
        background: $secondary;
        padding: 30px;
      }
      .content-wrapper {
        max-height: 292px;
        overflow: auto;
        margin-bottom: 20px;
        p {
          margin-right: 10px;
        }
      }

      .btn {
        color: $primary;
        text-transform: uppercase;
      }
    }
  }
  .carousel-indicators {
    bottom: -65px;
    button {
      width: 12px;
      height: 12px;
      background-color: $secondary;
      border-radius: 100%;
    }
  }
}

@include media-breakpoint-up(lg) {
  #our-services {
    .title {
      font-size: 32px;
      padding-bottom: 80px;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}

//Medium device
@include media-breakpoint-up(md) {
  #our-services {
    .our-service-accordion {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }

    .title {
      font-size: 24px;
    }

    .accordion {
      background: $secondary;
    }

    .accordion-item {
      background: transparent;
      border: 0;
      &:first-child {
        .accordion-button {
          padding: 34px 16px 10px;
        }
      }

      &:last-child {
        .accordion-button {
          padding: 10px 16px 24px;
          &:not(.collapsed) {
            padding: 10px 16px;
          }
        }
      }
    }

    .accordion-header {
      .accordion-button {
        background: transparent;
        color: $light;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1em;
        &:not(.collapsed) {
          background: #77736f !important;
        }
        &:focus {
          box-shadow: none;
        }
        &::after {
          display: none;
        }

        &::before {
          content: '';
          background: $light;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          margin-right: 8px;
        }
      }
    }

    .accordion-body {
      padding: 0 32px 36px;
      background-color: #77736f;
      .content-wrapper {
        color: $light;
      }

      .our-service-img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        &::after {
          content: '';
          width: 32px;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba($primary, 0.75) 75%,
            rgba($light, 0.75) 25%
          );
          position: absolute;
          left: 0;
          top: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .btn-wrapper {
        padding-top: 25px;
        .btn-light {
          border-radius: 40px;
          color: $primary;
          font-size: 18px;
          width: 100%;
          padding: 14px 20px;
          &:hover {
            background: $primary;
            color: $light;
            border: 1px solid $primary;
          }
        }
      }
    }
  }
}

//Large device
@include media-breakpoint-up(lg) {
  #our-services {
    .title {
      font-size: 32px;
      padding-bottom: 80px;
    }

    .accordion-body {
      padding: 0 48px 32px;
      .content-wrapper {
        font-size: 18px;
      }

      .our-service-img {
        &::after {
          width: 56px;
        }
      }

      .btn-wrapper {
        text-align: center;
        .btn-light {
          width: unset;
          padding: 19px 88px;
        }
      }
    }

    .accordion-item {
      &:first-child {
        .accordion-button {
          padding: 56px 48px 24px;
        }
      }

      &:last-child {
        .accordion-button {
          padding: 24px 47px 56px;
          &:not(.collapsed) {
            padding: 24px 47px;
          }
        }
      }
    }

    .accordion-header {
      .accordion-button {
        padding: 24px 46px;
        font-size: 24px;
        &::before {
          width: 16px;
          height: 16px;
          margin-right: 19px;
        }
        &:not(.collapsed) {
          font-size: 32px;
          box-shadow: none;
          &::before {
            width: 18px;
            height: 18px;
            margin-right: 16px;
          }
        }
      }
    }
  }
}

//Meet Dr. Newton
// Mobile

.meet-our-doctor {
  overflow: hidden;
  .container {
    max-width: 100%;
  }
  .content {
    max-width: 62%;
    margin: 0 auto;
    padding: 24px 0px 80px;
    h2 {
      margin-bottom: 16px;
    }
    .dark-btn {
      color: $light;
      background-color: $secondary;
      width: 100%;
      margin-top: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .meet-our-doctor {
    background-color: rgba($light, 0.64);
    position: relative;
    overflow: hidden;
    .container {
      max-width: 80%;
    }
    .row {
      justify-content: flex-end;
    }
    .top-divider {
      display: block;
      opacity: 1;
      border: 0;
      margin: 0;
      height: 220px;
      background-color: rgba($secondary, 0.64);
      z-index: 2;
      position: relative;
      margin-bottom: -6%;
    }
    .meet-our-team-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-size: cover;
      background-position: right;
      background-image: linear-gradient(
          90deg,
          rgba($dark, 0) 80%,
          rgba($light, 1) 80%
        ),
        url('../img/about-dr-section-bg.jpg');
    }
    .doctor-thumbnail {
      z-index: 3;
    }
    .content {
      max-width: 100%;
      padding: 0;
    }
  }
}
