// Single Services Header
// Mobile
.single-service-header {
  background: linear-gradient(
      180deg,
      rgba($secondary, 0.64) 50%,
      rgba($secondary, 0.64) 50%
    ),
    url('../img/laser-gum-contouring-mobile.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    .row {
      height: 460px;
      align-items: flex-end;
    }
  }
  .title {
    color: #fff;
    max-width: 76%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .container-fluid {
    background: rgba($dark, 0.64);
    .row {
      max-width: 64%;
      margin: auto;
      padding: 24px 0;
    }
    ul {
      margin-bottom: 0;
      padding: 0;
      li {
        list-style: none;
        position: relative;
        padding-left: 16px;
        margin-bottom: 8px;
      }
      ::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 100%;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-family: 'altivo', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }
}

//Small Device

@include media-breakpoint-up(sm) {
  .single-service-header {
    .container {
      .row {
        height: 522px;
      }
    }
  }
  .title {
    max-width: 66.68%;
  }
  .container-fluid {
    .row {
      max-width: 56%;
    }
  }
}

//Medium Device

@include media-breakpoint-up(md) {
  .single-service-header {
    background: linear-gradient(
        180deg,
        rgba($secondary, 0.64) 50%,
        rgba($secondary, 0.64) 50%
      ),
      url('../img/laser-gum-contouring-ipad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .row {
      height: 328px;
      padding-bottom: 0;
    }

    nav {
      .breadcrumb {
        margin-bottom: 8px;
      }

      li,
      a {
        font-size: 18px;
        font-family: $altivo;
        text-decoration: none;
        text-transform: uppercase;
      }

      li {
        color: rgba($light, 0.8) !important;
        &:before {
          color: rgba($light, 0.8) !important;
        }
      }

      a {
        color: rgba($light, 0.6) !important;
        &:hover {
          color: $light !important;
        }
      }
    }

    .title {
      padding-bottom: 16px;
      max-width: 100%;
    }
  }
}

//Large Device

@include media-breakpoint-up(lg) {
  .single-service-header {
    background: linear-gradient(
        180deg,
        rgba($secondary, 0.64) 50%,
        rgba($secondary, 0.64) 50%
      ),
      url('../img/laser-gum-contouring.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .row {
      height: 542px;
    }

    nav {
      .breadcrumb {
        margin-bottom: 23px;
      }

      li,
      a {
        font-size: 32px;
      }
    }

    .title {
      padding-bottom: 24px;
      font-size: 56px;
    }
  }
}

// Content
// Mobile Devices

.service-content {
  .sidebar {
    display: none;
  }
  .row {
    padding: 25px 0px 100px;
  }
  .content {
    max-width: 76%;
    margin: auto;
  }
}

// Small Devices

@include media-breakpoint-up(sm) {
  .service-content {
    .content {
      max-width: 66%;
    }
  }
}
